<div class="films-section-wrapper">
    <h1 class="mat-headline">NEWS</h1>
    <div class="films-wrapper">
        <img src="../../../assets/images/baby-yoda-1574346194.jpeg">
        <div class="film-text-wrapper">
            <h2 class="mat-title">{{mainText}}</h2>
            <h3 class="mat-subheading-2">{{subText}}</h3>
            <a mat-stroked-button target="_blank" color="accent"
                href="https://www.esquire.com/entertainment/tv/a30360981/the-mandalorian-season-2/">Read more!</a>
        </div>
    </div>
</div>