<div class="link-wrapper">
    <a target="_blank" href="https://www.instagram.com/starwars/">
        <mat-icon aria-hidden="false" aria-label="instagram" svgIcon="instagram"></mat-icon>
    </a>
    <a target="_blank" href="https://twitter.com/starwars">
        <mat-icon aria-hidden="false" aria-label="twitter" svgIcon="twitter"></mat-icon>
    </a>
    <a target="_blank" href="https://www.youtube.com/starwars">
        <mat-icon aria-hidden="false" aria-label="youtube" svgIcon="youtube"></mat-icon>
    </a>
</div>