.film-card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.films {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film-card-wrapper .film-card {
    flex: 1 0 27%;
    margin: 5px;
}
